In [1]:
import requests
from bs4 import BeautifulSoup as soup
import uuid
import difflib
import html5lib
import time
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
pd.options.mode.chained_assignment = None

In [2]:
new_players = []

In [3]:
player_index = pd.read_csv('../updated_datasets/player_index.csv')
player_index = player_index[player_index.columns[1:]]
player_index

                Player                                  UUID
0        Kevin Garnett  4035d838-5ed7-4507-86ad-0488a9b9c358
1     Shaquille O'Neal  74b99a51-bb65-436f-8bcc-7022af2a490a
2      Alonzo Mourning  8051eb29-ecd7-46b5-b2fa-415777e11e83
3         Juwan Howard  5bdd7fb5-050d-4b0c-befb-5fbf7109397c
4      Hakeem Olajuwon  be9d9c53-d445-4b8c-acc9-ad1c30e8598b
...                ...                                   ...
2224    Jordan Schakel  49852ad9-c5e3-4124-bd75-2ad27b5a859f
2225    Jordan Goodwin  70d9ad35-fb19-497a-a358-d77a2a2e89ba
2226       Craig Sword  c29acdbe-9077-44c0-a8b3-f997ddff72a2
2227   Jaime Echenique  727da240-fbce-4643-ba94-f74509e2e746
2228    Zavier Simpson  02af4e7e-85eb-4a39-a560-683c3fea3865

[2229 rows x 2 columns]

In [4]:
def make_table(num):
    table_list = []
    df_list = []
    for i in range(num + 1):
        #define unique variables for each table
        year = f'{1990 + i}-{1991 + i}/'
        var_name = f'salaries_{1990 + i}'
        
        #grab the data
        globals()[var_name] = pd.read_html(requests.get(f'https://hoopshype.com/salaries/players/{year}').text)[0].drop(
        columns = ['Unnamed: 0', f'{year[:4]}/{year[7:9]}(*)'])
        
        #clean the dataset
        globals()[var_name].rename(columns={f'{year[:4]}/{year[7:9]}':'Salary'}, inplace=True)
        globals()[var_name][globals()[var_name].columns[1:]] = globals()[var_name][globals()[var_name].columns[1:]].replace(
            '[\$,]', '', regex=True).astype(float)
        globals()[var_name]['Year'] = year[:4]
        
        #add the players to the player_index
        for name in globals()[var_name]['Player']:
            if name in player_index:
                continue
            else:
                new_players.append(name)
        
        #merge and save
        df_list.append(globals()[var_name])
        table_list.append(var_name)
    
    return table_list

In [5]:
make_table(9)

['salaries_1990',
 'salaries_1991',
 'salaries_1992',
 'salaries_1993',
 'salaries_1994',
 'salaries_1995',
 'salaries_1996',
 'salaries_1997',
 'salaries_1998',
 'salaries_1999']

In [13]:
new_df = pd.DataFrame(new_players, columns = ['Player']).drop_duplicates().reset_index(drop=True)
new_df["UUID"] = None
new_df

               Player  UUID
0       Patrick Ewing  None
1    Hot Rod Williams  None
2     Hakeem Olajuwon  None
3     Charles Barkley  None
4        Chris Mullin  None
..                ...   ...
993     Louis Bullock  None
994        Andy Panko  None
995        Ira Bowman  None
996    Steve Goodrich  None
997      Jason Sasser  None

[998 rows x 2 columns]

In [17]:
player_index = pd.concat([player_index, new_df]).reset_index(drop=True)
for name in player_index['Player'].unique():
    if player_index.loc[player_index['Player'] == name, 'UUID'].isnull().any():
        player_index.loc[player_index['Player'] == name, 'UUID'] = uuid.uuid4()
    else:
        continue
player_index.dropna().drop_duplicates()
player_index

                Player                                  UUID
0        Kevin Garnett  d25491c8-bfb7-4639-ad0e-69c24ee0881b
1     Shaquille O'Neal  7b98f9c3-891a-4083-a5fa-44929a1cc930
2      Alonzo Mourning  8cdc8dfc-ade0-4307-bf1a-24fffe7958b3
3         Juwan Howard  581039eb-6618-45c2-a1e2-a9d27789d81d
4      Hakeem Olajuwon  4272f584-fd78-457f-acaa-fd061b0e7d7e
...                ...                                   ...
6216     Louis Bullock  f6e1db3d-a6fa-4cbd-a2af-1b6f5a1283b3
6217        Andy Panko  6ee69194-fbce-4426-9d98-630172ab6272
6218        Ira Bowman  c297c3c4-c01e-4c6e-b256-b0c6cdabbec6
6219    Steve Goodrich  d3fe3602-ea6a-4693-a763-ea9d581bed18
6220      Jason Sasser  dfcbe15b-af3c-41b3-9c08-e11d5c3ab707

[6221 rows x 2 columns]

In [8]:
def add_uuids(tables):
    for table in tables:

IndentationError: expected an indented block (4009232121.py, line 3)

In [ ]:
globals()[var_name] = pd.merge(left=globals()[var_name], right=player_index, how='left', on='Player')
globals()[var_name].to_csv(f'../updated_datasets/salaries_data/player_salaries/{var_name}.csv')